[gui]
	recentrepo = /Users/leviwilson/git/sandbox/jasmine-fixture
	recentrepo = /Users/leviwilson/vendor/leandog/ErieMobileAndroid
[user]
	name = Levi Wilson
	email = levi@leviwilson.com
[alias]
  put = push origin head
	co = checkout
	st = status
	ci = commit
  pr = pull --rebase
	puhs = push
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
	tfpull = tf pull --rebase
	tfpush = tf checkin --deep --no-lock
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	my-bad = blame
[color]
	ui = auto
[git-pair]
	authors = Michael Lemley
	authors = Levi Wilson
	authors = Dave Shah
	authors = Jason Felice
[git-tf "server"]
  username = teamnorthwoods\\lwilson
[core]
	autocrlf = input
	safecrlf = true
[push]
	default = simple
[branch]
	autosetuprebase = always
